[submodule "mujoco-py"]
	path = submodules/mujoco-py
	url = https://github.com/foreback/mujoco-py.git
[submodule "rlkit"]
	path = submodules/rlkit
	url = https://github.com/foreback/rlkit.git
[submodule "robosuite"]
	path = submodules/robosuite
	url = https://github.com/foreback/robosuite.git
